<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="common.js"></script>
    <!-- 先引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
    <div id="app">
        <el-container style="height: 500px; border: 1px solid #eee">
                <el-header>
                        <el-menu :default-active="mainActiveIndex" class="el-menu-demo" mode="horizontal"
                            background-color="#545c64" text-color="#fff" active-text-color="#ffd04b" @Select="handleSelect">
                            <el-menu-item index="0">
                                <div type="info">
                                    设备管理中心
                                </div>
                            </el-menu-item>
                            <el-menu-item index="1">概况</el-menu-item>
                            <el-submenu index="2">
                                <template slot="title">设备管理</template>
                                <el-menu-item index="2-1">添加设备</el-menu-item>
                                <el-menu-item index="2-2">设备列表</el-menu-item>
                                <el-menu-item index="2-3">实时控制</el-menu-item>
                            </el-submenu>
                            <el-menu-item index="3">设备消息记录</el-menu-item>
                            <el-menu-item index="4">应用中心</el-menu-item>
                        </el-menu>
                    </el-header>

            <el-main>
                <el-input style="width: 20%;align-content: center" placeholder="请输入内容" prefix-icon="el-icon-search"
                    v-model="searchTxt">
                </el-input>
                <template>
                    <el-table :data="devices" style="width: 100%">
                        <el-table-column prop="id" label="设备Id" width="180">
                        </el-table-column>
                        <el-table-column prop="deviceName" label="设备名称" width="180">
                        </el-table-column>
                        <el-table-column prop="secretKey" label="密钥">
                        </el-table-column>
                        <el-table-column prop="updateTime" label="创建时间">
                        </el-table-column>
                        <el-table-column prop="deviceDesc" label="描述">
                        </el-table-column>
                    </el-table>
                </template>
                <!-- 分页 -->
                <el-pagination background layout="prev, pager, next" :total="200">
                    </el-pagination>
                
            </el-main>
            <el-footer>Footer</el-footer>
        </el-container>

    </div>
</body>



<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                mainActiveIndex:"2-2",
                devices: null,
                searchTxt: "",
                total:200,
            }
        },
        methods: {
            getDevices() {
                url = "http://localhost/api/device/list?userId=1"
                axios.get(url).then(response => {
                    this.devices = response.data.data;
                    // this.total = response.data.total;
                })
            },
            handleSelect(key, keyPath) {
                $dsc().handleSelect(key, keyPath);
            },
        

        },

        mounted() {
            this.getDevices();
        }

    })
</script>

</html>